<div class="container-fluid py-2">
    <h2 class="wow animated slideInUp" data-wow-delay=".15s">
        Latest Projects
        {% include elements/button.html link="/projects" text="All Projects" size="sm" %}
        <!-- {% include elements/button.html link="/projects/random" text="Surprise Me" size="sm" %} -->
    </h2>

    <div class="scrollbox wow animated slideInUp" data-wow-delay=".15s">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        {% assign projects = site.projects | reverse %}
        {% for project in projects limit:4 %}
        <div class="col-lg-4 col-md-5 col-sm-7 col-xs-7 wow animated slideInUp" data-wow-delay=".15s">
            {% include project_card.html %}
        </div>
        {% endfor %}
    </div>
</div>
</div>